{% extends "!footer.html" %}

{% block extrafooter %}
      <br>
      <a href="http://permedcoe.eu/">
      <img src="{{ pathto('_static/logo_1.png', 1) }}" alt="The HPC/Exascale Centre of Excellence for Personalised Medicine in Europe (PerMedCoE)" width="200">
      </a>
      <img src="{{ pathto('_static/Flag_of_Europe.png', 1) }}" width="140">
      <br>
      The <a href="http://permedcoe.eu/">PerMedCoE project</a> has received funding from the European Union’s Horizon 2020 research and innovation programme under the grant agreement Nº<a href="https://cordis.europa.eu/project/id/951773">951773</a>
{% endblock %}
